services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    networks:
      - app-network
    depends_on:
      - db

  web:
    image: nginx:stable-alpine
    container_name: web
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
    depends_on:
      - app

  node:
    image: node:22-alpine
    container_name: node
    ports:
      - "5173:5173"
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - /var/www/html/node_modules
    networks:
      - app-network
    # Se não tiver package.json, o npm não será executado
    command: sh -c "if [ -f package.json ]; then npm install && npm run dev -- --host; else echo 'package.json não encontrado, pulando npm'; fi"
    depends_on:
      - app
    restart: unless-stopped
    stdin_open: true
    tty: true

  db:
    image: mysql:8.0
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Graffs@500
      MYSQL_DATABASE: laravel
    # Evita conflito de porta, só expõe internamente
    # ports:
    #   - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
