[phases.setup]
nixPkgs = { php = "php84", nginx = "nginx", libmysqlclient = "mysql.client", composer = "composer", nodejs = "nodejs_18", npm = "npm-9_x" }

[phases.install]
cmds = [
  "mkdir -p /var/log/nginx && mkdir -p /var/cache/nginx",
  "composer install --ignore-platform-reqs",
  "npm ci"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node /assets/scripts/prestart.mjs /app/nginx.template.conf /nginx.conf && (php-fpm -y /assets/php-fpm.conf & nginx -c /nginx.conf)"

[staticAssets]
nginx = "public"

