[phases.setup]
nixPkgs = ["php84", "nginx", "libmysqlclient", "php84Packages.composer", "nodejs_18", "npm-9_x"]

[phases.install]
cmds = [
  "mkdir -p /var/log/nginx && mkdir -p /var/cache/nginx",
  "composer install --ignore-platform-reqs",
  "npm ci"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "cp /app/nginx.template.conf /nginx.conf && (php-fpm -y /assets/php-fpm.conf & nginx -c /nginx.conf)"

[staticAssets]
nginx = "public"

